@model SupportTicketApp.ViewModels.CreateUserViewModel

@{
    ViewData["Title"] = "Yeni Kullanıcı Ekle";
}

<div class="container mt-5">
    <h2>@ViewData["Title"]</h2>

    @if (!string.IsNullOrEmpty(ViewBag.Message as string))
    {
        <div class="alert alert-success">
            @ViewBag.Message
        </div>
    }
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            <ul>
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <li>@error.ErrorMessage</li>
                }
            </ul>
        </div>
    }

    <form asp-action="CreateUser" method="post" enctype="multipart/form-data">
        
        <div class="form-group mt-3">
            <label for="Name">Ad ve Soyad:</label>
            <input asp-for="Name" class="form-control" required />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group mt-3">
            <label for="UserName">Kullanıcı Adı:</label>
            <input asp-for="UserName" class="form-control" required />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group mt-3">
            <label for="Email">E-posta:</label>
            <input asp-for="Email" class="form-control" type="email" required />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group mt-3">
            <label for="Password">Şifre:</label>
            <input asp-for="Password" class="form-control" type="password" required />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group mt-3">
            <label for="UserType">Rol:</label>
            <select asp-for="UserType" class="form-control">
                <option value="1">Çalışan</option>
                <option value="2">Son Kullanıcı</option>
            </select>
            <span asp-validation-for="UserType" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary mt-4">Kullanıcı Ekle</button>
    </form>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
