@{
    ViewData["Title"] = "Admin Paneli";
}

<div class="container">
    <h2 class="text-center">Admin Paneline Hoş Geldiniz</h2>

    <div class="btn-group d-flex justify-content-center" role="group" aria-label="Admin Menü">
        <a asp-action="UserManagement" class="btn btn-primary btn-lg mx-2">Kullanıcı Yönetimi</a>

        <a asp-action="AllTickets" class="btn btn-info btn-lg mx-2">Tüm Biletler</a>

        <a asp-action="OngoingTickets" class="btn btn-warning btn-lg mx-2">Devam Eden Biletler</a>

        <a asp-action="UnassignedTickets" class="btn btn-danger btn-lg mx-2">Atanmamış Biletler</a>

@*         <a asp-controller="Admin" asp-action="TicketDetails" asp-route-id="@Model.TicketId" class="btn btn-secondary btn-lg mx-2">Bilet Detayı</a>
 *@
    </div>

    <div class="text-center mt-4">
        <p>Yukarıdaki menüleri kullanarak kullanıcılar ve biletler üzerinde işlemler yapabilirsiniz.</p>
    </div>
</div>


