@{
    ViewData["Title"] = "Admin Paneli";
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success mt-4">
        @TempData["SuccessMessage"]
    </div>
}
<div class="container">
    <h2 class="text-center">Admin Paneline Hoş Geldiniz</h2>

    <div class="text-center mt-4">
        <p>Yukarıdaki menüleri kullanarak kullanıcılar ve biletler üzerinde işlemler yapabilirsiniz.</p>
    </div>
</div>


