@using SupportTicketApp.Enums
@using SupportTicketApp.Models
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authentication.Cookies

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SupportTicketApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SupportTicketApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <span class="navbar-brand">SupportTicketApp</span>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.Identity.IsAuthenticated)
                        {
                            var userName = User.Identity.Name;
                            var userTypeClaim = User.Claims.FirstOrDefault(c => c.Type == "http://schemas.microsoft.com/ws/2008/06/identity/claims/role");
                            UserType? userType = userTypeClaim != null ? Enum.Parse<UserType>(userTypeClaim.Value) : null;
                            // Profil fotoğrafı

                            var profilePhotoBase64 = ViewBag.ProfilePhotoBase64 as string;

                            <li class="nav-item ms-auto">
                                <div class="d-flex align-items-center">
                                    <a asp-area="" asp-controller="Home" asp-action="Settings" class="d-flex align-items-center">
                                        @if (profilePhotoBase64 != null)
                                        {
                                            <img src="data:image/png;base64,@profilePhotoBase64" alt="Profil Fotoğrafı" class="rounded-circle" width="40" height="40" />
                                        }
                                        else
                                        {
                                            <img src="~/images/default.png" alt="Profil Fotoğrafı" class="rounded-circle" width="40" height="40" />
                                        }
                                    </a>
                                </div>
                            </li>

                            if (userType == UserType.Yonetici)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="UserLog">Giriş Kayıtları</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="UserManagement">Kullanıcılar</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="CreateUser">Yeni Kullanıcı Ekle</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AllTickets">Tüm Biletler</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="OngoingTickets">Devam Eden Biletler</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="UnassignedTickets">Atanmamış Biletler</a>
                                </li>
                                @* <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Settings">Ayarlar</a>
                                </li> *@
                            }
                            else if (userType == UserType.Calisan)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="TicketsList">Destek Biletleri</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="AssignedTickets">Çalışana Atanmış Biletler</a>
                                </li>
                                @* <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Settings">Ayarlar</a>
                                </li> *@
                            }
                            else if (userType == UserType.SonKullanici)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">Destek Biletleri Listesi</a>
                                </li>
                                @* <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Settings">Ayarlar</a>
                                </li> *@
                            }
                            <li class="nav-item">
                                <form asp-controller="Account" asp-action="Logout" method="post" style="display:inline;">
                                    <button type="submit" class="nav-link text-dark" style="border: none; background: none;">
                                        Çıkış Yap
                                    </button>
                                </form>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - SupportTicketApp
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
